.badge{
    width: 17px;
    aspect-ratio: 1/1;
    background-color: var(--green-color);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}